body {
    width: 100%;
}

form{
    margin-block-end: 0;
}

    .header {
        padding: .5rem 15%;
    }

        .btn-header{
            margin-left:20px;  
        }

        .title-header{
            color: #cccccc;
        }

            .title-header:hover{
                color: #cccccc;
            }

    .content {
        padding: 1.5rem 15%;
    }

        .card-container{
            width: 31.2%;
            float:left;
            border:none;
            margin:1%;
            min-height: 300px;
        }

        .btn-pages{
            margin:0 20px;
        }

        .btn-like{
            background-color:white;
            border:none;
            color:grey;
        }

            .btn-like:focus{
                outline: none;
            }

        .btn-dislike{
            background-color:white;
            border:none;
            margin-left:50px;
            color: grey;
        }

            .btn-dislike:focus{
                outline: none;
            }