body {
    margin: 0;
    padding: 0;
}

.content {
    margin: 20px auto;
    padding: 30px;
    width: 500px;
    box-shadow: inset 0px 0px 50px 0px rgba(101, 123, 133, 0.534);
    border-radius: 10px;
}

.image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}